body {
    font-family: Tahoma, sans-serif;
    font-size: medium;
    background-color: #cccccc;
    background-image: url("../images/back.gif");
    text-align: center;
}

table, td, tr {
    border-color: blue;
    border-width: thin;
    border-style: solid;

}

#MYLayout {
    background-color: white;
    width: 770px;
}

#MYHeader {
    height: 80px;

}

#MYSubHeader {
    height: 30px;
}

#MYMenu {
    width: 150px;
    height: 200px;

}

#MYMain {
    width: 620px;
}

#MYSubFooter {
    height: 30px;
}

#MYFooter {
    height: 80px;
}

input.farsi {
    direction: rtl;
    text-align: justify;
    font-size: 8pt;
    font-family: Tahoma, Sans-Serif;
}

input.latin {
    direction: ltr;
    text-align: justify;
    font-size: 8pt;
    font-family: Verdana, Sans-Serif;
}